body {
	background-color: black;
	color: white;
	margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #91f2ab;
  color: black;
}

.container {
  text-align: center;
}

.text {
  font-size: 3rem;
  font-family: "Mori", sans-serif;
  font-weight: normal;
}